# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = fetch.settings

[deploy]
url = http://localhost:6800
project = fetch
version = GIT
#project = 17599
#username = 92c64fc18c6042aa8473c059fb8673eb
